USE [aspnet-SportCentre-0c7f4aeb-0d92-4759-a600-f98d56a6ce3d]
GO
/****** Object:  Table [dbo].[Prenotazioni]    Script Date: 29/10/2025 01:19:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Prenotazioni](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [nvarchar](450) NOT NULL,
	[AttivitaID] [int] NOT NULL,
	[Data] [date] NOT NULL,
	[SportCID] [int] NOT NULL,
 CONSTRAINT [PK_Prenotazioni] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Prenotazioni] ON 

INSERT [dbo].[Prenotazioni] ([UserID], [AttivitaID], [Data], [SportCID]) VALUES (1, N'3c008d8e-90a7-4ce0-a799-277404c595d6', 5, CAST(N'2025-10-16' AS Date), 1)
INSERT [dbo].[Prenotazioni] ([UserID], [AttivitaID], [Data], [SportCID]) VALUES (3, N'3c008d8e-90a7-4ce0-a799-277404c595d6', 1, CAST(N'2025-10-16' AS Date), 1)
INSERT [dbo].[Prenotazioni] ([UserID], [AttivitaID], [Data], [SportCID]) VALUES (4, N'3c008d8e-90a7-4ce0-a799-277404c595d6', 1, CAST(N'2025-10-31' AS Date), 1)
SET IDENTITY_INSERT [dbo].[Prenotazioni] OFF
GO
ALTER TABLE [dbo].[Prenotazioni]  WITH CHECK ADD  CONSTRAINT [FK_Prenotazioni_Attivita] FOREIGN KEY([AttivitaID])
REFERENCES [dbo].[Attivita] ([ID])
GO
ALTER TABLE [dbo].[Prenotazioni] CHECK CONSTRAINT [FK_Prenotazioni_Attivita]
GO
ALTER TABLE [dbo].[Prenotazioni]  WITH CHECK ADD  CONSTRAINT [FK_Prenotazioni_SportCentre] FOREIGN KEY([SportCID])
REFERENCES [dbo].[SportCentres] ([ID])
GO
ALTER TABLE [dbo].[Prenotazioni] CHECK CONSTRAINT [FK_Prenotazioni_SportCentre]
GO
ALTER TABLE [dbo].[Prenotazioni]  WITH CHECK ADD  CONSTRAINT [FK_Prenotazioni_User] FOREIGN KEY([UserID])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[Prenotazioni] CHECK CONSTRAINT [FK_Prenotazioni_User]
GO
