USE [aspnet-SportCentre-0c7f4aeb-0d92-4759-a600-f98d56a6ce3d]
GO
/****** Object:  Table [dbo].[SportCentres]    Script Date: 29/10/2025 01:19:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SportCentres](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Address] [nvarchar](50) NOT NULL,
	[Location] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Table_1] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[SportCentres] ON 

INSERT [dbo].[SportCentres] ([ID], [Name], [Address], [Location]) VALUES (1, N'Voltri Gym1', N'via diqui 3', N'Genova Voltri')
INSERT [dbo].[SportCentres] ([ID], [Name], [Address], [Location]) VALUES (2, N'San Nicola Gym', N'Corso Firenze 35', N'Genova')
INSERT [dbo].[SportCentres] ([ID], [Name], [Address], [Location]) VALUES (3, N'Nervi Power Gym', N'Via Quinto 12', N'Genova')
SET IDENTITY_INSERT [dbo].[SportCentres] OFF
GO
