USE [aspnet-SportCentre-0c7f4aeb-0d92-4759-a600-f98d56a6ce3d]
GO
/****** Object:  Table [dbo].[Orari]    Script Date: 29/10/2025 01:19:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orari](
	[ID] [int] NOT NULL,
	[Orario] [int] NOT NULL,
 CONSTRAINT [PK_Orari] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Orari] ([ID], [Orario]) VALUES (1, 7)
INSERT [dbo].[Orari] ([ID], [Orario]) VALUES (2, 8)
INSERT [dbo].[Orari] ([ID], [Orario]) VALUES (3, 9)
GO
