USE [aspnet-SportCentre-0c7f4aeb-0d92-4759-a600-f98d56a6ce3d]
GO
/****** Object:  Table [dbo].[Attivita]    Script Date: 29/10/2025 01:19:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Attivita](
	[ID] [int] NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Descrizione] [nvarchar](50) NULL,
	[Orario] [int] NULL,
	[Posti] [int] NULL,
 CONSTRAINT [PK_Attivita] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Attivita] ([ID], [Name], [Descrizione], [Orario], [Posti]) VALUES (1, N'Yoga', N'Yoga Ayurveda', 8, 40)
INSERT [dbo].[Attivita] ([ID], [Name], [Descrizione], [Orario], [Posti]) VALUES (2, N'TaiChi', N'Tai chi chuan', 12, 35)
INSERT [dbo].[Attivita] ([ID], [Name], [Descrizione], [Orario], [Posti]) VALUES (3, N'Danza1', N'Danza ritmica', 10, 25)
GO
