USE [aspnet-SportCentre-0c7f4aeb-0d92-4759-a600-f98d56a6ce3d]
GO
/****** Object:  Table [dbo].[SportCentreAttivita]    Script Date: 29/10/2025 01:19:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SportCentreAttivita](
	[SportCentreId] [int] NOT NULL,
	[AttivitaId] [int] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_SportCentreAttivita] PRIMARY KEY CLUSTERED 
(
	[SportCentreId] ASC,
	[AttivitaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[SportCentreAttivita] ([SportCentreId], [AttivitaId], [CreatedAt]) VALUES (1, 1, CAST(N'2025-10-27T01:10:07.5331256' AS DateTime2))
INSERT [dbo].[SportCentreAttivita] ([SportCentreId], [AttivitaId], [CreatedAt]) VALUES (1, 5, CAST(N'2025-10-27T01:10:07.5332116' AS DateTime2))
INSERT [dbo].[SportCentreAttivita] ([SportCentreId], [AttivitaId], [CreatedAt]) VALUES (2, 1, CAST(N'2025-10-27T01:04:40.4499305' AS DateTime2))
GO
ALTER TABLE [dbo].[SportCentreAttivita]  WITH CHECK ADD  CONSTRAINT [FK_SportCentreAttivita_attivita_AttivitaId] FOREIGN KEY([AttivitaId])
REFERENCES [dbo].[Attivita] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SportCentreAttivita] CHECK CONSTRAINT [FK_SportCentreAttivita_attivita_AttivitaId]
GO
ALTER TABLE [dbo].[SportCentreAttivita]  WITH CHECK ADD  CONSTRAINT [FK_SportCentreAttivita_SportCentres_SportCentreId] FOREIGN KEY([SportCentreId])
REFERENCES [dbo].[SportCentres] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SportCentreAttivita] CHECK CONSTRAINT [FK_SportCentreAttivita_SportCentres_SportCentreId]
GO
