@page
@model SportCentre.Pages.AttivitaSportive.PrenotaAttivitaModel
@{
}


<h2>Prenota @Model.AttivitaSportiva.descrizione</h2>

<h8>L'orario per questa attività è @Model.AttivitaSportiva.Orario:00</h8>

<form method="post">
    <div class="form-group">
        <label for="Data">Data:</label>
        <input asp-for="Data" class="form-control" />
        <input type="hidden" asp-for="AttivitaId" />
    </div>
    <button type="submit" class="btn btn-primary">Invia</button>
</form>

@if (Model.Data != DateTime.MinValue)
{
    <p>Hai selezionato: <strong>@Model.Data.ToString("dd/MM/yyyy")</strong></p>
}

@if (!string.IsNullOrEmpty(Model.MessaggioConferma))
{
    <div class="alert alert-success">
        @Model.MessaggioConferma
    </div>
}

<div asp-validation-summary="All" class="text-danger"></div>