@page
@model SportCentre.Pages.SportCentres.EditSportCentreModel

<h4>Centre</h4>
<hr />
<div class="row">
    <div class="col-md-4">

        <form method="post">
            <table class="table">
                <tr>
                    <td>
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @*             <input type="hidden" asp-for="Centre.id" /> *@
                        <div class="form-group">
                
                            <label asp-for="viewModel.Name" class="control-label"></label>
                            <input asp-for="viewModel.Name" class="form-control" />
                            <span asp-validation-for="viewModel.Name" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                
                            <label asp-for="viewModel.Address" class="control-label"></label>
                            <input asp-for="viewModel.Address" class="form-control" />
                            <span asp-validation-for="viewModel.Address" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                
                            <label asp-for="viewModel.Location" class="control-label"></label>
                            <input asp-for="viewModel.Location" class="form-control" />
                            <span asp-validation-for="viewModel.Location" class="text-danger"></span>
                        </div>
                   </td>
          
                  <td>
                    <fieldset>
                        <legend>Seleziona elementi</legend>
                        @foreach (var attivita in Model.viewModel.AvailableAttivita)
                        {
                            <div>
                                <input type="checkbox"
                                       name="viewModel.existingAttivitaIds"
                                       value="@attivita.Id"
                                       @(Model.viewModel.existingAttivitaIds.Contains(attivita.Id) ? "checked" : "") />
                                <label>@attivita.Name</label>
                            </div>
                        }
                    </fieldset>
                  </td>
            </tr>
        </table>
            <input type="hidden" asp-for="viewModel.id" />
@*             <div class="form-group">

                <label asp-for="Attivita.Id" class="control-label"></label>
                <select asp-for="Attivita.Id" class="form-control" asp-items="ViewBag.attivitaId"></select>
                <span asp-validation-for="Attivita.Id" class="text-danger"></span>
            </div> *@
            <div><p></p></div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./SportCentresIndex">Back to List</a>
</div>

